.footer-present {
  display: flex;
  position: relative;
  width: 100%;
}

.present__image {
  position: fixed;
  bottom: 40px;
  right: 80px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present__img {
  display: block;
  margin: 16px auto;
  //margin: 0 auto;
  max-width: 70%;
  max-height: 70%;
}

.presentdiv__text {
  position: fixed;
  width: 180px;
  bottom: -66px;
  right: 192px;
  transition: all 1.2s ease-in-out;
}

.present__text {
  position: absolute;
  //font-size: 15px;
  //font-family: Gilroy, sans-serif;
  font-size: 26px;
  font-family: Girloy-ExtraBold, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  width: 170px;
  bottom: 15px;
  left: 38px;
  z-index: 11;
}


.present__base-ramka {
  border: 2px solid rgb(119, 10, 29);
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  position: absolute;
  width: 157px;
  height: 60px;
  bottom: 0;
  left: 24px;
  z-index: 5;
}

.present-ramka__ugol {
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid rgb(119, 10, 29);
  right: -20px;
  top: 20px;
}

.present-ramka__ugol:after {
  content: '';
  position: absolute;
  right: -6px;
  top: -8px;
  border: 8px solid transparent;
  border-left: 8px solid rgb(254, 239, 238);
}


.footer-present__circle {
  display: flex;
  position: relative;
  margin-left: 176px;
}

.present__image:hover .presentdiv__text {
  transform: translateY(-120px);
  -webkit-transform: translateY(-120px); /** Safari & Chrome **/
  -o-transform: translateY(-120px); /** Opera **/
  -moz-transform: translateY(-120px); /** Firefox **/
}


.choice-prod_circle {
  //display: grid;
  position: absolute;
  top: -8px;
  right: -8px;
  justify-items: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(130, 19, 40);
  color: rgb(130, 19, 40);
  width: 32px;
  height: 32px;
}

.choice-prod_circle__number {
  align-self: end;
  padding: 0;
  font-size: 26px;
  font-family: Girloy-ExtraBold, sans-serif;
}



@media screen and (max-width: 600px) {
  .present__image {
    right: 250px;
  }

  .presentdiv__text {
    right: 362px;
  }

}
