.choice-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  :hover {
    .choice-item__image {
      transform: scale(1.2);
    }
  }

  .choice-item__img {
    z-index: 5;
    width: 265px;
    height: 112px;
    top: -50%;
    transform: translateY(50%);

    .choice-item__image {
      transition: transform 0.2s;
    }
  }
}


.choice-item__info {
  top: -56px;
  width: 265px;
  height: 231px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.choice-item__caption {
  font-family: Tavolga, sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.choice-order {
  display: flex;
  justify-content: space-between;
  margin: 30px 21px 30px 21px;

  .choice-order__price {
    display: flex;
    flex-direction: column;
    font-family: Gilroy, sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    text-align: left;
  }

  .choice-order__action {
    .choice-order__action-btn {
      border-radius: 20px;
      width: 130px;
      height: 50px;
      font-family: Girloy-bold, sans-serif;
      font-size: 16px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
