phone {
  margin: 0;
  padding: 0;
}


.block {
  font-family: Tavolga, sans-serif;
  padding-left: 390px;
  padding-right: 360px;
  border: none;
}

.block_pink {
  background-color: rgb(235, 168, 177);
}


.block_footer {
  background-color: #C0707C;
  max-height: 200px;
  display: flex;
}

.footer-container {
  display: grid;
  grid-template-columns: 190px 1fr 174px;
  grid-template-rows: 94px 94px;
  grid-row-gap: 12px;
  width: 100%;
}

.footer-logo {
  order: 1;
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: end;
}

.footer-instagram {
  order: 2;
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: end;
}


.logo__copyright {
  order: 4;
  grid-column: 1;
  grid-row: 2;
}

.instagram__text {
  order: 5;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: start;
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_top {
  font-family: Girloy-Medium, sans-serif;
  height: 86px;
}


.menu__list {
  list-style: none;
  display: flex;
  width: 312px;
  justify-content: space-between;
}

.menu__link {
  font-size: 14px;
  color: rgb(119, 11, 29);
  text-decoration: none;
  line-height: 1;
  border-bottom: 1px solid transparent;
}

.menu__link:hover {
  border-bottom: 1px solid rgb(119, 11, 29);
}

.header_phone {
  font-family: Girloy-bold, sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding-right: 15px;

}

.footer-phone {
  order: 3;
  grid-column: 3;
  grid-row: 1/2;
  padding-right: 0;
  justify-self: right;
  padding-top: 96px;
}


.container {
  display: flex;
  justify-content: space-between;
}

.container_top {
  padding-bottom: 110px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
}


.container-top__img {
  grid-column: 2;
  grid-row: 1/3;
  order: 2;
}

.block-pnk2-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.block_pink__descrip {
  order: 3;
}

.block_pink__choicebtn {
  order: 4;
}



.block_pink__title {
  order: 1;
  font-size: 55px;
  font-family: Tavolga, sans-serif;
  font-style: normal;
  max-width: 586px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
}

.block_pink__descrip {
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  max-width: 348px;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.blockpinkchoice__button {
  font-size: 18px;
  font-family: Girloy-bold, sans-serif;
  color: rgb(255, 255, 255);
  width: 240px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
}

.blockpinkchoice__button:hover {
  box-shadow: 1px 5px 9px 1px rgba(130, 19, 40, 0.5);
}


.block_text {
  background-color: #FFEFEF;
  font-family: Tavolga, sans-serif;
  font-style: normal;

}


.container__baseinfo {
  display: flex;
  justify-content: space-between;
  padding-top: 122px;

}


.baseinfo-text-caption {
  max-width: 482px;
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  text-align: left;
}

.baseinfo-text-dsc {
  max-width: 482px;
  font-size: 18px;
  font-family: Gilroy, sans-serif;
  color: rgb(51, 25, 7);
  margin-top: 60px;
}


.baseinfo-image {
  margin: 0 auto;
  align-items: center;
}

.advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 87px;
  padding-bottom: 130px;
}

.advantages-item {
  width: 215px;
}

.advantages-item__number {
}

.advnumber_circle {
  display: grid;
  justify-items: center;
  border-radius: 50%;
  background-color: rgb(130, 19, 40);
  color: rgb(255, 255, 255);
  width: 70px;
  height: 70px;
}

.advantages-item:hover .advnumber_circle.advnumber_circle {
  background-color: rgb(235, 168, 177);
  color: rgb(130, 19, 40);

}


.advnumber_circle__number {
  align-self: end;
  padding: 10px;
  font-size: 60px;
  font-family: Girloy-ExtraBold, sans-serif;
}

.advnumber_circle__caption {
  font-family: Girloy-ExtraBold, sans-serif;
  font-size: 20px;
  color: rgb(51, 25, 7);
  margin-top: 12px;
  margin-bottom: 15px;
}

.advnumber_circle__text {
  font-family: Girloy-Medium, sans-serif;
  font-size: 15px;
  color: rgb(51, 25, 7);
  line-height: 1.333;
}

.choice-container {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 41px;
  padding-left: 15px;
}

.choice-container__title {
  font-family: Tavolga, sans-serif;
  font-style: normal;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
}

.choice-itemslist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.choice-item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

}

.choice-item__img {
  z-index: 5;
  width: 265px;
  height: 112px;
  top: -50%;
  transform: translateY(50%);
}

.choice-item__image {
  transition: transform 0.2s;
}

.choice-item__image:hover {
  transform: scale(1.2);
}



.choice-item__info {
  top: -56px;
  width: 265px;
  height: 231px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.choice-item__caption {
  font-family: Tavolga, sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
}

.choice-order {
  display: flex;
  justify-content: space-between;
  margin: 30px 21px 30px 21px;
}

.choice-order__price {
  display: flex;
  flex-direction: column;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  justify-content: space-between;
  text-align: left;
}

.choice-order__action-btn {
  border-radius: 20px;
  width: 130px;
  height: 50px;
  font-family: Girloy-bold, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  /*background-color: #F3A600;*/
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);

}

.choice-order__action-btn:hover {
  box-shadow: 2px 5px 9px 2px rgba(130, 19, 40, 0.5);

}

.block_purshase {
  background-color: #FFEFEF;
}

.purshase-container {
  padding-top: 100px;
  padding-bottom: 117px;
  display: flex;
  justify-content: left;
  position: relative;
}

.purshase__images {
  padding-top: 80px;
  display: flex;
  max-width: 435px;
}

.pimageleft__icon {
  position: absolute;
  left: 0;
  z-index: 5;
}


.purshase__order {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 146px;
}

.purshord__title {
  font-family: Tavolga, sans-serif;
  font-size: 45px;
  text-align: left;
  color: rgba(51, 25, 7, 1);
}

.purshord__text {
  max-width: 400px;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  text-align: left;
  color: rgb(51, 25, 7);
  line-height: 1.556;
}

.purshord__choice {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}

.purshord__choice_bottom {
  justify-content: flex-start;
}

.pchoice-caption {
  font-family: Girloy-bold, sans-serif;
  font-size: 18px;
  text-align: left;
  color: rgb(18, 10, 6);
  padding-bottom: 18px;
}

.pchoice-input{
  padding-bottom: 16px;
}

.pchoice-input__text {
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  padding: 0 30px;
  font-size: 15px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(18, 10, 6);
  width: 235px;
  height: 60px;
}

.pchoice-input__text::placeholder {
  color: #760C22;
  font-size: 15px;
  font-family: Gilroy-Bold, sans-serif;
}


.pchoice-input__botton {
  border: 1px solid transparent;
  border-radius: 30px;
  width: 297px;
  height: 60px;
  font-family: Gilroy-Bold, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
}

.pchoice-input__botton:hover {
  box-shadow: 1px 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.pimageright__icon {
  position: absolute;
  top: 406px;
  right: 100px;
}


.logo__copyright {
  font-size: 12px;
  font-family: Gilroy, sans-serif;
  color: rgb(227, 172, 180);
}

.footer-instagram__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.footer-present {
  display: flex;
  position: relative;
  width: 100%;
}

.present__image {
  position: fixed;
  bottom: 40px;
  right: 80px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.present__img {
  display: block;
  margin: 16px auto;
}

.presentdiv__text {
  position: fixed;
  width: 180px;
  bottom: -66px;
  right: 192px;
  transition: all 1.2s ease-in-out;
}

.present__text {
  position: absolute;
  font-size: 15px;
  font-family: Gilroy, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  width: 170px;
  bottom: 11px;
  left: 38px;
  z-index: 11;
}


.present__base-ramka {
  border: 2px solid rgb(119, 10, 29);
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  position: absolute;
  width: 157px;
  height: 60px;
  bottom: 0;
  left: 24px;
  z-index: 5;
}

.present-ramka__ugol {
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid rgb(119, 10, 29);
  right: -20px;
  top: 20px;
}

.present-ramka__ugol:after {
  content: '';
  position: absolute;
  right: -6px;
  top: -8px;
  border: 8px solid transparent;
  border-left: 8px solid rgb(254, 239, 238);
}


.footer-present__circle {
  display: flex;
  position: relative;
  margin-left: 176px;
}

.present__image:hover .presentdiv__text {
  transform: translateY(-120px);
  -webkit-transform: translateY(-120px); /** Safari & Chrome **/
  -o-transform: translateY(-120px); /** Opera **/
  -moz-transform: translateY(-120px); /** Firefox **/
}

.header-menutri {
  display: none;
  padding-right: 20px;
}

.menu__close {
  display: none;
}


.error-input {
  color: red;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  //display: none;
}

.main-base-form {
  position: relative;
 .order-result {
    font-size: 16px;
    font-family: Girloy-ExtraBold, sans-serif;
    color: rgb(49, 14, 20);
    height: 100vh;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .order-result-success {
    position: fixed;
    top: 12%;
    height: 125px;
    left: 50%;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    padding: 25px 35px;
    text-align: center;
    background-color: #d6e3e2;
    z-index: 99999;
    .popup-mybox {
      margin-bottom: 25px;
    }
    .popup-mybottom-box {
      .porder-success__botton{
        width: 75%;
      }
    }


  }
}

.order-result-notsucc {
  position: absolute;
  bottom: 12%;
  height: 250px;
  left: 50%;
  border-radius: 24px;
  transform: translate(-50%, -50%);
  padding: 25px 35px;
  text-align: center;
  background-color: #a984d5;
  z-index: 99999;
}


.container {
  max-width: 960px;
}

.loader {
  position: fixed;
  background: rgba(0, 0 ,0, 0.6 );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

/*     1511 - 1890  */
@media screen and (max-width: 1890px) {
  .block {
    padding-left: 150px;
    padding-right: 120px;
  }

}

@media screen and (max-width: 1510px) {
  .block {
    padding-left: 74px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1300px) {
  .block {
    padding-left: 24px;
    padding-right: 12px;
  }
}


@media screen and (max-width: 1200px) {
  .block_text {
    padding-left: 0;
  }
  .container_top {
    position: relative;
  }

  .block_pink__title {
    order: 1;
  }

  .block_pink__descrip {
    order: 2;
  }

  .block_pink__choicebtn {
    order: 3;
  }

  .container-top__img {
    position: absolute;
    right: 0;
  }


  .advantages {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .advnumber_circle {
    margin-left: 68px;
  }

  .advnumber_circle__caption {
    text-align: center;
  }

  .advnumber_circle__text {
    text-align: center;
  }

  .baseinfo-image__img {
    margin: 0 auto;
  }

  .choice-itemslist {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}


@media screen and (max-width: 1100px) {
  .container_top {
    height: 586px;
  }

  .container-top__img {
    bottom: 24px;
  }

  .pimageleft__icon {
    left: 378px;
    top: 238px;
  }
  .pimageright__icon {
    top: 114px;
    left: 566px;
  }

}

@media screen and (max-width: 1000px) {

  .purshase-container {
    display: grid;
    grid-template-columns: 426px 1px 1px calc(100% - 310px);
    padding-bottom: 86px;
  }

  .container__baseinfo {
    flex-direction: column;
  }

  .baseinfo-text {
    display: block;
    text-align: center;
    margin: 0 auto;
  }


  .baseinfo-text-caption {
    text-align: center;
    margin: 0 auto;
  }

  .baseinfo-text-dsc {
    max-width: 666px;
    padding-bottom: 46px;
  }

  .block_purshase {
    padding-bottom: 32px;
  }


  .purshase__images {
    position: absolute;
    top: 186px;
    left: 342px;
    overflow: hidden;
    display: block;
    order: 11;
  }

  .pimageleft__image {
    overflow: hidden;
  }

  .pimageleft__img {
    object-fit: cover;
  }


  .block_purshase {
    padding-left: 0;
    padding-right: 0;
  }

  .purshase__order {
    padding-left: 20px;
  }

  .purshord__title {
    padding-top: 16px;
    padding-bottom: 30px;

  }

  .purshord__text {
    padding-bottom: 38px;
  }

}


@media screen and (max-width: 724px) {
  .block {
    padding-left: 0;
    padding-right: 0;

  }

  .logo-top {
    padding-left: 12px;
  }

  .footer-logo {
    padding-left: 12px;
  }

  .logo__copyright {
    padding-left: 12px;
  }

  .footer-phone {
    padding-right: 12px;
  }

  .menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;

    z-index: 100;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;

  }

  .menu__item {
    margin: 15px 0;
  }


  .main__image {
    width: 100%;
  }


  .header-menutri {
    display: block;
  }

  .header_phone_top {
    display: none;
  }

  .menu.open {
    display: flex;
    align-items: center;
  }

  .menu__close {
    display: block;
    width: 24px;
    height: 24px;
    fill: rgb(73, 24, 87);
    position: absolute;
    top: 20px;
    left: 20px;
  }


  .container_top {
    padding-top: 40px;
  }

  .block_pink__title {
    text-align: center;
    max-width: none;
    padding: 0;
  }

  .block_pink__descrip {
    text-align: center;
    max-width: none;
    padding: 0;

  }

  .block_pink__choicebtn {
    text-align: center;
    padding: 0;
  }

  .container-top__img {
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .baseinfo-text-caption {
    font-size: 30px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .baseinfo-text-dsc {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .choice-container__title {
    font-size: 30px;
  }

  .container__baseinfo {
    padding-top: 100px;
  }

}

@media screen and (max-width: 600px) {


  .container_top {
    padding-bottom: 40px;
  }

  .advantages {
    padding-bottom: 20px;
  }

  .advantages-item {
    width: 160px;
    height: 300px;
  }

  .advnumber_circle {
    margin-left: 37px;
  }


  .advnumber_circle__caption {
    font-size: 18px;
  }

  .advnumber_circle__text {
    font-size: 13px;
  }

  .block_pink__title {
    font-size: 32px;
    margin: 0 auto;
    grid-column: 2;
    grid-row: 1;
  }

  .block_pink__descrip {
    font-size: 16px;
    margin: 0 auto;
    grid-column: 2;
    grid-row: 2;

  }

  .block_pink__choicebtn{
    grid-column: 2;
    grid-row: 3;
  }

  .container-top__img {
    grid-column: 2;
    grid-row: 4;
    width: 88%;
    transform: translate(6%, -14%);
  }


  .choice-itemslist {
    grid-template-columns: 1fr;
  }

  .block_footer {
    max-height: none;
  }


  .purshase-container {
    grid-template-columns: 1fr 1px 1px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .pchoice-input {
    text-align: center;
  }

  .purshord__title {
    font-size: 30px;
  }

  .purshase__images {
    display: none;
  }

  .pimageleft__icon {
    top: 103px;
    left: -222px;
  }



  .present__image {
    right: 250px;
  }

  .presentdiv__text {
    right: 362px;
  }


  .footer-container {
    grid-template-columns: 12px calc(100% - 26px) 12px;
    grid-template-rows: 100px 42px 56px 48px 83px;
  }

  .footer-logo {
    order: 1;
    grid-column: 2;
    grid-row: 1;
    padding: 0;
    justify-self: center;
    align-self: center;
  }

  .footer-phone {
    order: 2;
    grid-column: 2;
    grid-row: 2;
    padding: 0;
    justify-self: center;
    align-self: self-start;
  }

  .footer-instagram {
    order: 3;
    grid-column: 2;
    grid-row: 3;
    padding: 0;
    justify-self: center;
    align-self: end;
  }

  .instagram__text {
    order: 4;
    grid-column: 2;
    grid-row: 4;
    padding: 0;
    justify-self: center;
    align-self: start;
  }

  .logo__copyright {
    order: 5;
    grid-column: 2;
    grid-row: 5;
    padding: 0;
    justify-self: center;
    align-self: self-start;

  }

}


@media screen and (max-width: 560px) {

  .pimageleft__icon {
    left: -114px;
  }

  .baseinfo-image {
    padding-left: 37px;
    padding-right: 37px;
  }

  .binfo-image__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }


}


@media screen and (max-width: 428px) {

  .pimageleft__icon {
    top: 192px;
    left: 214px;
  }
}


