@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga.ttf");
}

@font-face {
  font-family: Girloy;
  src: url("./assets/fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: Girloy-Medium;
  src: url("./assets/fonts/gilroy-medium.ttf");
}

@font-face {
  font-family: Girloy-bold;
  src: url("./assets/fonts/gilroy-bold.ttf");
}

@font-face {
  font-family: Girloy-ExtraBold;
  src: url("./assets/fonts/gilroy-extrabold.ttf");
}

@font-face {
  font-family: MyriadPro;
  src: url("./assets/fonts/miriadpro.otf");
}


body {
  margin: 0;
  padding: 0;
}

.error-element-input {
  border: 2px solid red;
}
.success-element-input {
  border: 1px solid rgb(130, 19, 40);
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.choice-order__price {
  display: flex;
  flex-direction: column;
  font-family: Gilroy, sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  justify-content: space-between;
  text-align: left;
}

